<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.utfinancing.financehub.engine.scene.mapper.SceneVoucherConditionMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.utfinancing.financehub.engine.scene.entity.SceneVoucherConditionEntity">
                    <id column="id" property="id" />
                    <result column="scene_voucher_entry_id" property="sceneVoucherEntryId" />
                    <result column="serial" property="serial" />
                    <result column="script_condition" property="scriptCondition" />
                    <result column="dondition_description" property="donditionDescription" />
                    <result column="script_amount" property="scriptAmount" />
                    <result column="amount_description" property="amountDescription" />
                    <result column="debit_credit_type" property="debitCreditType" />
                    <result column="create_by" property="createBy" />
                    <result column="create_time" property="createTime" />
                    <result column="update_by" property="updateBy" />
                    <result column="update_time" property="updateTime" />
                    <result column="del_flag" property="delFlag" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, scene_voucher_entry_id, serial, script_condition, dondition_description, script_amount, amount_description, debit_credit_type, create_by, create_time, update_by, update_time, del_flag
        </sql>
</mapper>

