<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.utfinancing.financehub.engine.finance.mapper.CheckCommonFinanceDataResultMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.utfinancing.financehub.engine.finance.entity.CheckCommonFinanceDataResultEntity">
                    <id column="id" property="id" />
                    <result column="record_id" property="recordId" />
                    <result column="execute_date" property="executeDate" />
                    <result column="business_type" property="businessType" />
                    <result column="join_field" property="joinField" />
                    <result column="query_field" property="queryField" />
                    <result column="del_flag" property="delFlag" />
                    <result column="create_by" property="createBy" />
                    <result column="create_time" property="createTime" />
                    <result column="update_by" property="updateBy" />
                    <result column="update_time" property="updateTime" />
                    <result column="db_code" property="dbCode" />
                    <result column="show_field" property="showField" />
                    <result column="compare_result_field" property="compareResultField" />
                    <result column="compare_flag_field" property="compareFlagField" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, record_id, execute_date, business_type, join_field, query_field, del_flag, create_by, create_time, update_by, update_time, db_code, show_field, compare_result_field, compare_flag_field
        </sql>

        <delete id="deleteCheckCommonData">
            delete from eg_check_common_finance_data_result cfd where cfd.business_type = #{businessType}
        </delete>

        <delete id="deleteCheckCommonDataByExecuteDate">
            delete from eg_check_common_finance_data_result cfd where to_char(cfd.execute_date,'YYYYMMDD') = #{executeDateCode}::text and cfd.business_type = #{businessType} and cfd.period_code = #{periodCode}
        </delete>
</mapper>

