<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.utfinancing.financehub.engine.finance.mapper.EasExchangeRateMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.utfinancing.financehub.engine.finance.entity.EasExchangeRateEntity">
                    <id column="id" property="id" />
                    <result column="execute_date" property="executeDate" />
                    <result column="source_eas_code" property="sourceEasCode" />
                    <result column="source_eas_name" property="sourceEasName" />
                    <result column="target_eas_code" property="targetEasCode" />
                    <result column="target_eas_name" property="targetEasName" />
                    <result column="exchange_rate" property="exchangeRate" />
                    <result column="create_by" property="createBy" />
                    <result column="create_time" property="createTime" />
                    <result column="update_by" property="updateBy" />
                    <result column="update_time" property="updateTime" />
                    <result column="del_flag" property="delFlag" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, execute_date, source_eas_code, source_eas_name, target_eas_code, target_eas_name, exchange_rate, create_by, create_time, update_by, update_time, del_flag
        </sql>
</mapper>

