<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.utfinancing.financehub.engine.finance.mapper.FundBusinessSystemEbankAmountMappingMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.utfinancing.financehub.engine.finance.entity.FundBusinessSystemEbankAmountMappingEntity">
                    <id column="id" property="id" />
                    <result column="match_number" property="matchNumber" />
                    <result column="ebank_number" property="ebankNumber" />
                    <result column="ebank_serial_number" property="ebankSerialNumber" />
                    <result column="match_amount" property="matchAmount" />
                    <result column="business_match_amount" property="businessMatchAmount" />
                    <result column="create_by" property="createBy" />
                    <result column="create_time" property="createTime" />
                    <result column="update_by" property="updateBy" />
                    <result column="update_time" property="updateTime" />
                    <result column="del_flag" property="delFlag" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, match_number, ebank_number, ebank_serial_number, match_amount, business_match_amount, create_by, create_time, update_by, update_time, del_flag
        </sql>
</mapper>

