<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.utfinancing.financehub.engine.finance.mapper.LongReceivableRegisterMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.utfinancing.financehub.engine.finance.entity.LongReceivableRegisterEntity">
                    <id column="id" property="id" />
                    <result column="long_receivable_number" property="longReceivableNumber" />
                    <result column="contract_code" property="contractCode" />
                    <result column="project_name" property="projectName" />
                    <result column="client_name" property="clientName" />
                    <result column="org_id" property="orgId" />
                    <result column="receivable_total" property="receivableTotal" />
                    <result column="receivable_principal" property="receivablePrincipal" />
                    <result column="receivable_interest" property="receivableInterest" />
                    <result column="other_receivable" property="otherReceivable" />
                    <result column="process_status" property="processStatus" />
                    <result column="process_instance_id" property="processInstanceId" />
                    <result column="is_generate_voucher" property="isGenerateVoucher" />
                    <result column="voucher_id" property="voucherId" />
                    <result column="error_info" property="errorInfo" />
                    <result column="account_date" property="accountDate" />
                    <result column="del_flag" property="delFlag" />
                    <result column="create_by" property="createBy" />
                    <result column="create_time" property="createTime" />
                    <result column="update_by" property="updateBy" />
                    <result column="update_time" property="updateTime" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, long_receivable_number, contract_code, project_name, client_name, org_id, receivable_total, receivable_principal, receivable_interest, other_receivable, process_status, process_instance_id, is_generate_voucher, voucher_id, error_info, account_date, del_flag, create_by, create_time, update_by, update_time
        </sql>
    <select id="selectByMapper"
            resultType="com.utfinancing.financehub.engine.finance.entity.LongReceivableRegisterEntity">
        select *
        from eg_long_receivable_register elrr
        where elrr.del_flag ='0'
        <if test="queryDTO.longReceivableNumber!=null and queryDTO.longReceivableNumber!=''">
            and elrr.long_receivable_number like concat('%', #{queryDTO.longReceivableNumber}::text, '%')
        </if>
        <if test="queryDTO.contractCode!=null and queryDTO.contractCode!=''">
            and elrr.contract_code like concat('%', #{queryDTO.contractCode}::text, '%')
        </if>
        <if test="queryDTO.clientName!=null and queryDTO.clientName!=''">
            and elrr.client_name like concat('%', #{queryDTO.clientName}::text, '%')
        </if>
        <if test="queryDTO.projectName!=null and queryDTO.projectName!=''">
            and elrr.project_name like concat('%', #{queryDTO.projectName}::text, '%')
        </if>
        <if test="queryDTO.processStatusList != null and queryDTO.processStatusList.size > 0">
            and elrr.process_status in
            <foreach item="item" index="index" collection="queryDTO.processStatusList" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="queryDTO.idList != null and queryDTO.idList.size > 0">
            and elrr.id in
            <foreach item="item" index="index" collection="queryDTO.idList" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="queryDTO.id != null ">
            and elrr.id = #{queryDTO.id}
        </if>
        <if test="queryDTO.isLatestVersion != null and  queryDTO.isLatestVersion == '1'.toString">
            and not exists (
            select 1
            from eg_long_receivable_register elrr2
            where elrr2.del_flag='0'
            and elrr2.long_receivable_number=elrr.long_receivable_number
            and elrr2.contract_code=elrr.contract_code
            and elrr2.version_num>elrr.version_num
            )
        </if>
        order by elrr.id desc
    </select>
</mapper>

