<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.utfinancing.financehub.admin.mapper.SysInternalRoleOrgMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.utfinancing.financehub.admin.entity.SysInternalRoleOrgEntity">
                    <id column="id" property="id" />
                    <result column="org_id" property="orgId" />
                    <result column="org_name" property="orgName" />
                    <result column="role_id" property="roleId" />
                    <result column="del_flag" property="delFlag" />
                    <result column="create_by" property="createBy" />
                    <result column="create_time" property="createTime" />
                    <result column="update_by" property="updateBy" />
                    <result column="update_time" property="updateTime" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, org_id, org_name, role_id, del_flag, create_by, create_time, update_by, update_time
        </sql>
    <select id="selectPageByCondition"
            resultType="com.utfinancing.financehub.admin.model.vo.SysInternalRoleOrgVO">
        select
            org.*,
            sir.role_name,
            sir.role_code
        from
            sys_internal_role_org org
                inner join sys_internal_role sir on
                org.role_id = sir.id
        where
            1 = 1 and org.del_flag = '0' and sir.del_flag = '0'
        <if test="condition.roleName !=null and condition.roleName!=''">
            and sir.role_name like concat('%',#{condition.roleName},'%')
        </if>
        <if test="condition.orgName !=null and condition.orgName!=''">
            and org.org_name like concat('%',#{condition.orgName},'%')
        </if>
        <if test="condition.roleId !=null">
            and org.role_id = #{condition.roleId}
        </if>
        <if test="condition.orgId !=null and condition.orgId!=''">
            and org.org_id = #{condition.orgId}
        </if>
        order by org.create_time desc
    </select>
    <select id="getOrgByUserCode" resultType="java.lang.String">
        select
            x.org_id
        from
            sys_internal_role_org x
                inner join sys_internal_role sir on
                x.role_id = sir.id
                inner join sys_internal_role_user siru on
                sir.id = siru.role_id
                inner join sys_internal_user siu on
                siru.sys_user_id = siu.id
        where
            1 = 1 and x.del_flag = '0' and sir.del_flag = '0' and siru.del_flag ='0' and siu.del_flag ='0'
            and siu.user_code = #{userCode}
    </select>
</mapper>

