<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.utfinancing.financehub.etl.invoicing.mapper.TyOiInvoiceMiddleMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.utfinancing.financehub.etl.invoicing.entity.TyOiInvoiceMiddleEntity">
                    <id column="ID" property="id" />
                    <result column="DANJH" property="danjh" />
                    <result column="FAPLX" property="faplx" />
                    <result column="CONTRACTNO" property="contractno" />
                    <result column="FUGR" property="fugr" />
                    <result column="KEHHY" property="kehhy" />
                    <result column="CONTRACTZT" property="contractzt" />
                    <result column="YUXKAIPSTATE" property="yuxkaipstate" />
                    <result column="QUANJNJSTATE" property="quanjnjstate" />
                    <result column="ZBKPSTATE" property="zbkpstate" />
                    <result column="GOUFNSRSBH" property="goufnsrsbh" />
                    <result column="GOUFMC" property="goufmc" />
                    <result column="GOUFDZ" property="goufdz" />
                    <result column="GOUFDH" property="goufdh" />
                    <result column="GOUFYHMC" property="goufyhmc" />
                    <result column="GOUFYHZH" property="goufyhzh" />
                    <result column="SHISRQ" property="shisrq" />
                    <result column="QISHU" property="qishu" />
                    <result column="SHANGPBH" property="shangpbh" />
                    <result column="SHANGPMC" property="shangpmc" />
                    <result column="DANW" property="danw" />
                    <result column="SHUIL" property="shuil" />
                    <result column="JIASHJ" property="jiashj" />
                    <result column="SHUL" property="shul" />
                    <result column="JINE" property="jine" />
                    <result column="SHUIE" property="shuie" />
                    <result column="DANJ" property="danj" />
                    <result column="BEIZ" property="beiz" />
                    <result column="KEYMEMO" property="keymemo" />
                    <result column="SHUISFLBM" property="shuisflbm" />
                    <result column="PICH" property="pich" />
                    <result column="DANJRQ" property="danjrq" />
                    <result column="GUIGXH" property="guigxh" />
                    <result column="JIJFS" property="jijfs" />
                    <result column="QIYBH" property="qiybh" />
                    <result column="XFSH" property="xfsh" />
                    <result column="KPDDM" property="kpddm" />
                    <result column="SHUISFLBMBBH" property="shuisflbmbbh" />
                    <result column="CANKZD1" property="cankzd1" />
                    <result column="CANKZD2" property="cankzd2" />
                    <result column="CANKZD3" property="cankzd3" />
                    <result column="CANKZD4" property="cankzd4" />
                    <result column="CANKZD5" property="cankzd5" />
                    <result column="CANKZD6" property="cankzd6" />
                    <result column="CANKZD7" property="cankzd7" />
                    <result column="CANKZD8" property="cankzd8" />
                    <result column="CANKZD9" property="cankzd9" />
                    <result column="CANKZD10" property="cankzd10" />
                    <result column="YEWLX" property="yewlx" />
                    <result column="DUQZT" property="duqzt" />
                    <result column="DUQSBYY" property="duqsbyy" />
                    <result column="YEWCJR" property="yewcjr" />
                    <result column="YEWCJRQ" property="yewcjrq" />
                    <result column="GENGXR" property="gengxr" />
                    <result column="GENGXRQ" property="gengxrq" />
                    <result column="BEIZ2" property="beiz2" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            ID, DANJH, FAPLX, CONTRACTNO, FUGR, KEHHY, CONTRACTZT, YUXKAIPSTATE, QUANJNJSTATE, ZBKPSTATE, GOUFNSRSBH, GOUFMC, GOUFDZ, GOUFDH, GOUFYHMC, GOUFYHZH, SHISRQ, QISHU, SHANGPBH, SHANGPMC, DANW, SHUIL, JIASHJ, SHUL, JINE, SHUIE, DANJ, BEIZ, KEYMEMO, SHUISFLBM, PICH, DANJRQ, GUIGXH, JIJFS, QIYBH, XFSH, KPDDM, SHUISFLBMBBH, CANKZD1, CANKZD2, CANKZD3, CANKZD4, CANKZD5, CANKZD6, CANKZD7, CANKZD8, CANKZD9, CANKZD10, YEWLX, DUQZT, DUQSBYY, YEWCJR, YEWCJRQ, GENGXR, GENGXRQ, BEIZ2
        </sql>
    <select id="selectByCondition"
            resultType="com.utfinancing.financehub.etl.invoicing.model.vo.TyOiInvoiceMiddleVO">
        SELECT
            x.*,
            b.KAIPXMM
        FROM
        FINANCINGINVOICE.TY_OI_INVOICE_MIDDLE x
                INNER JOIN FINANCINGINVOICE.TY_OI_INVOICE_BACK_MIDDLE b ON
                x.DANJH = b.DANJH
        WHERE 1=1
        <if test="queryDTO.shisrq!=null">
            AND TO_CHAR(x.SHISRQ,'yyyy-MM-dd') = TO_CHAR(queryDTO.shisrq,'yyyy-MM-dd')
        </if>
    </select>
</mapper>

