<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.utfinancing.financehub.etl.kingdee.mapper.TBdVouchertypesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.utfinancing.financehub.etl.kingdee.entity.TBdVouchertypesEntity">
        <id column="FID" property="fid"/>
        <result column="FNAME_L1" property="fnameL1"/>
        <result column="FNAME_L2" property="fnameL2"/>
        <result column="FNAME_L3" property="fnameL3"/>
        <result column="FNUMBER" property="fnumber"/>
        <result column="FDESCRIPTION_L1" property="fdescriptionL1"/>
        <result column="FDESCRIPTION_L2" property="fdescriptionL2"/>
        <result column="FDESCRIPTION_L3" property="fdescriptionL3"/>
        <result column="FSIMPLENAME" property="fsimplename"/>
        <result column="FPRETERMIT" property="fpretermit"/>
        <result column="FCREATORID" property="fcreatorid"/>
        <result column="FCREATETIME" property="fcreatetime"/>
        <result column="FLASTUPDATEUSERID" property="flastupdateuserid"/>
        <result column="FLASTUPDATETIME" property="flastupdatetime"/>
        <result column="FCONTROLUNITID" property="fcontrolunitid"/>
        <result column="FADMINCUID" property="fadmincuid"/>
        <result column="FLEVEL" property="flevel"/>
        <result column="FCOMPANYID" property="fcompanyid"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        FID, FNAME_L1, FNAME_L2, FNAME_L3, FNUMBER, FDESCRIPTION_L1, FDESCRIPTION_L2, FDESCRIPTION_L3, FSIMPLENAME,
        FPRETERMIT, FCREATORID, FCREATETIME, FLASTUPDATEUSERID, FLASTUPDATETIME, FCONTROLUNITID, FADMINCUID, FLEVEL,
        FCOMPANYID
    </sql>


    <select id="selectAllVoucherTypes" resultType="com.utfinancing.financehub.etl.financial.model.dto.VoucherTypeDTO">
        SELECT t.FID AS eas_id, t.FNUMBER AS type_code, t.FNAME_L2 AS type_name
        FROM T_BD_VOUCHERTYPES t
    </select>
</mapper>

