<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.utfinancing.financehub.etl.financial.mapper.KingdeeVoucherEntryMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.utfinancing.financehub.etl.financial.entity.KingdeeVoucherEntryEntity">
                    <id column="id" property="id" />
                    <result column="eas_id" property="easId" />
                    <result column="voucher_eas_id" property="voucherEasId" />
                    <result column="voucher_summary" property="voucherSummary" />
                    <result column="contract_code" property="contractCode" />
                    <result column="contract_name" property="contractName" />
                    <result column="client_code" property="clientCode" />
                    <result column="client_name" property="clientName" />
                    <result column="account_code" property="accountCode" />
                    <result column="account_name" property="accountName" />
                    <result column="period_code" property="periodCode" />
                    <result column="debit_credit_type" property="debitCreditType" />
                    <result column="debit_amount" property="debitAmount" />
                    <result column="credit_amount" property="creditAmount" />
                    <result column="create_by" property="createBy" />
                    <result column="create_time" property="createTime" />
                    <result column="update_by" property="updateBy" />
                    <result column="update_time" property="updateTime" />
                    <result column="del_flag" property="delFlag" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, eas_id, voucher_eas_id, voucher_summary, contract_code, contract_name, client_code, client_name, account_code, account_name, period_code, debit_credit_type, debit_amount, credit_amount, create_by, create_time, update_by, update_time, del_flag
        </sql>
</mapper>

