<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.utfinancing.financehub.etl.financial.mapper.VoucherToEasRecordMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.utfinancing.financehub.etl.financial.entity.VoucherToEasRecordEntity">
                    <id column="id" property="id" />
                    <result column="company_number" property="companyNumber" />
                    <result column="booked_date" property="bookedDate" />
                    <result column="biz_date" property="bizDate" />
                    <result column="period_year" property="periodYear" />
                    <result column="period_number" property="periodNumber" />
                    <result column="voucher_type" property="voucherType" />
                    <result column="attaches" property="attaches" />
                    <result column="description" property="description" />
                    <result column="voucher_number" property="voucherNumber" />
                    <result column="creator" property="creator" />
                    <result column="poster" property="poster" />
                    <result column="auditor" property="auditor" />
                    <result column="entry_seq" property="entrySeq" />
                    <result column="voucher_abstract" property="voucherAbstract" />
                    <result column="account_number" property="accountNumber" />
                    <result column="currency_number" property="currencyNumber" />
                    <result column="profit_center_number" property="profitCenterNumber" />
                    <result column="local_rate" property="localRate" />
                    <result column="entry_dc" property="entryDc" />
                    <result column="original_amount" property="originalAmount" />
                    <result column="qty" property="qty" />
                    <result column="measurement" property="measurement" />
                    <result column="price" property="price" />
                    <result column="debit_amount" property="debitAmount" />
                    <result column="credit_amount" property="creditAmount" />
                    <result column="asst_seq" property="asstSeq" />
                    <result column="biz_number" property="bizNumber" />
                    <result column="settlement_number" property="settlementNumber" />
                    <result column="settlement_type" property="settlementType" />
                    <result column="cussent" property="cussent" />
                    <result column="asst_act_type1" property="asstActType1" />
                    <result column="asst_act_number1" property="asstActNumber1" />
                    <result column="asst_act_name1" property="asstActName1" />
                    <result column="asst_act_type2" property="asstActType2" />
                    <result column="asst_act_number2" property="asstActNumber2" />
                    <result column="asst_act_name2" property="asstActName2" />
                    <result column="asst_act_type3" property="asstActType3" />
                    <result column="asst_act_number3" property="asstActNumber3" />
                    <result column="asst_act_name3" property="asstActName3" />
                    <result column="asst_act_type4" property="asstActType4" />
                    <result column="asst_act_number4" property="asstActNumber4" />
                    <result column="asst_act_name4" property="asstActName4" />
                    <result column="asst_act_type5" property="asstActType5" />
                    <result column="asst_act_number5" property="asstActNumber5" />
                    <result column="asst_act_name5" property="asstActName5" />
                    <result column="asst_act_type6" property="asstActType6" />
                    <result column="asst_act_number6" property="asstActNumber6" />
                    <result column="asst_act_name6" property="asstActName6" />
                    <result column="asst_act_type7" property="asstActType7" />
                    <result column="asst_act_number7" property="asstActNumber7" />
                    <result column="asst_act_name7" property="asstActName7" />
                    <result column="asst_act_type8" property="asstActType8" />
                    <result column="asst_act_number8" property="asstActNumber8" />
                    <result column="asst_act_name8" property="asstActName8" />
                    <result column="transaction_date" property="transactionDate" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, company_number, booked_date, biz_date, period_year, period_number, voucher_type, attaches, description, voucher_number, creator, poster, auditor, entry_seq, voucher_abstract, account_number, currency_number, profit_center_number, local_rate, entry_dc, original_amount, qty, measurement, price, debit_amount, credit_amount, asst_seq, biz_number, settlement_number, settlement_type, cussent, asst_act_type1, asst_act_number1, asst_act_name1, asst_act_type2, asst_act_number2, asst_act_name2, asst_act_type3, asst_act_number3, asst_act_name3, asst_act_type4, asst_act_number4, asst_act_name4, asst_act_type5, asst_act_number5, asst_act_name5, asst_act_type6, asst_act_number6, asst_act_name6, asst_act_type7, asst_act_number7, asst_act_name7, asst_act_type8, asst_act_number8, asst_act_name8, transaction_date
        </sql>
</mapper>

